 .hide {
    display: none;
 }
 
 /* #region Main */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* body:has(.backdrop.is-open) {
    overflow-y: hidden;
} */

body:has(.backdrop-is-open) {
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section {
    padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}



.container {
    max-width: 320px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    outline-offset: -2px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
        outline-offset: -2px;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    outline-offset: -2px;
}
}



/* #endregion */

/* #region Header */
.header {
    box-shadow: 0px 1px 6px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 2px 1px 0px #2E2F4214;
    border-bottom: 1px solid #E7E9FC;
    display: flex;
}

.header > .container {
    display: flex;
}

.nav {
    display: flex;
}

.header-nav {
    gap: 40px;
    display: flex;
}

.address {
    margin-left: auto;
    
}

.header-contacts {
    gap: 40px;
    display: flex;
}

.nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 24px 0;
    display: inline-block;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2E2F42;
}

.nav-link.active::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.nav-link.active,
.nav-link:hover {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #404BBF;
}
.nav-link:active {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #404BBF;
}
.nav-link:focus {font-weight: 500;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.contacts {
    display: inline-block;
    padding: 24px 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
}

.header-logo {
    padding: 24px 76px 24px 0px;
    display: flex;
    font-size: 1.125em;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}

.accent {
    color: #4D5AE5;
}

.contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    color: #434455;
}
.contacts:hover {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #404BBF;
}
.contacts:focus {
    color: #404BBF;
}

/* #endregion */

/* #region Hero */

.hero-section {
    max-width: 320px;
    margin: 0 auto;
    background-position: center;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)),
    linear-gradient(rgba(46, 47, 66, 0.7)),
    url("../images/people-office1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42
}
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px;
  }
}
@media only screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
    }
}

.main-heading {
    width: 216px;
    padding-bottom: 72px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
@media only screen and (min-width: 758px) {
    .main-heading {
        width: 496px;
        padding-bottom: 36px;
    }
}
@media only screen and (min-width: 1158px) {
  .main-heading {
      width: 496px;
      padding-bottom: 48px;
  }
}

.button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px #00000026;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button:focus {
    border-color: #404BBF;
    background-color: #404BBF;
    color: #FFFFFF;
}

/* #endregion */

/* #region Feature */

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature {
    justify-content: center;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
@media only screen and (min-width: 1158px) {
  .feature {
    display: flex;
    flex-direction: row;
  }
}

.feature-element {
    width: 288px;
}
@media only screen and (min-width: 768px) {
  .feature {
      width: 356px;
      flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1168px) {
  .feature-element {
      width: 264px;
  }
}

.feature-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.feature-ill {
    display: flex;
}

@media only screen and (min-width: 320px) {
.feature-wrapper {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
    .feature-wrapper {
        display: none;
    }
}
@media only screen and (min-width: 1158px) {
    .feature-wrapper {
        display: flex;
    }
}

.feature-heading {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 2.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
@media only screen and (min-width: 1158px) {
  .feature-heading {
    font-weight: 500;
    padding-bottom: 8px;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.feature-paragraph {
    width: 288px;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
@media only screen and (min-width: 768px) {
  .feature-paragraph {
      width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-paragraph {
      width: 264px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
}

/* #endregion */

/* #region Team */

.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F4F4FD;
    color: #2E2F42;
}

@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}

.team-heading {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #F4F4FD;
    color: #2E2F42;
}

.team-element {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    gap: 24px 72px;
}
@media only screen and (min-width: 768px) {
  .team-element {
    width: calc(264px * 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-element {
    width: calc(264px * 4);
    display: flex;
    padding-top: 72px;
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
}

.team-ill {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.team-desc {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF;
}

.team-member {
    gap: 24px;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.socials-list {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: start;
}

.socials {
    display: flex;
    fill: #F4F4FD;
}

.socials-link {
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
}

.socials-link:hover,
.socials-link:focus {
    border: none;
    border-radius: 50%;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.member-content-wrapper {
    padding: 32px 16px;
}

.paragraph-team {
    color: #434455;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    text-align: center;
}


/* #endregion */

/* #region Portfolio */

.portfolio-content-wrapper {
    padding: 32px 16px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    overflow: hidden;
    border-color: #E7E9FC;
}

.portfolio-heading {
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-title {
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
}
@media only screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}
.portfolio-list {
    flex-direction: column;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-element:hover {
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-element {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
}

@media only screen and (min-width: 768px) {
    .portfolio-element {
        width: 356px;
        flex-direction: column;
    }
}
@media only screen and (min-width: 1158px) {
    .portfolio-element {
        width: calc((100% - 24px * 2) / 3);
    }
}

.portfolio-paragraph {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-thumb {
    overflow: hidden;
    position: relative;
}

.overlay-box {
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(100%);
        background-color: #4D5AE5;

    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
}

.portfolio-element:hover .overlay {
    transform: translateY(0);   
}

/* #endregion */

/* #region Footer */

.footer > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

@media only screen and (min-width: 1158px) {
  .footer-block-a {
      margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-block-b {
      margin-right: 80px;
  }
}

.footer-paragraph {
    max-width: 264px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-logo {
    display: block;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.125em;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
}

.footer-text {
    align-items: center;
    max-width: 264px;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-bottom: 16px;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}


.footer-socials-list {
    display: flex;
    gap: 16px;
    list-style: none;
}


.footer-socials {
    position: relative;
    display: flex;
    fill: #FFFFFF;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
    border: none;
    border-radius: 50%;
    background-color: #31D0AA;
    fill: #FFFFFF;
}

.footer-block-c {
    display: flex;
flex-direction: column;
    margin-left: auto;
}

.footer-form {
}

.footer-subscribe {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-form-label {
}

.footer-form-field {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    outline: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-size: 12px;
    line-height: 2.0;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.footer-form-field:hover,
.footer-form-field:focus {
    border-color: #31D0AA;
}
.footer-form-field::placeholder {
    color: #FFFFFF;
}

.footer-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 169px;
    height: 40px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-btn:focus,
.footer-btn:hover {
    border: none;
    background-color: #31D0AA;
    fill: #FFFFFF;
}

.footer-btn-icon {
    fill: #FFFFFF;
}

/* #endregion */

/* #region Backdrop */

.backdrop-is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}

.backdrop-is-open {
    opacity: 1;
    pointer-events: all;
    visibility: initial;
}

/* .backdrop-is-open {
    opacity: 1;
    pointer-events: all;
    visibility: initial;
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border: none;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
}

.modal-close {
}

.modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    fill: #2E2F42;
}
.modal-btn:focus,
.modal-btn:hover {
    border: none;
    background-color: #404BBF;
    fill: #FFFFFF;
}

.modal-paragraph {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1em;
    line-height: 1.5;
    color: #2E2F42;
}

.button-send {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px #00000026;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
}

.button-send:focus,
.button-send:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.order-service {}

.order-wrapper {}

.order-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8F99;
}

.label-text {
    display: flex;
    margin-bottom: 4px;
}

.order-field {
    margin-bottom: 8px;
    position: relative;
}

.order-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 38px;
    background-color: transparent;
}

.order-input:focus {
    border-color: #4D5AE5;
    outline: none;
}

.order-icon {
    position: absolute;
    top: 38px;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input:focus+.order-icon {
    fill: #4D5AE5;
}

.order-comment {
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.order-comment:focus {
    color: #434455;
    border-color: #4D5AE5;
    outline: none;
}

.order-agreement {
    margin-top: 16px;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    color: #8E8F99;
}

.order-toggler {
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    display: inline-flex;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-toggler-icon {
    opacity: 0;
}

.order-check:checked + .order-toggler {
    background-color: #404BBF;
    border-color: transparent;
}

.order-check:checked + .order-toggler > .order-toggler-icon {
    fill: #F4F4FD;
    opacity: 1;
}

.order-link {
    text-decoration-skip-ink: none;
    text-decoration: underline;
    color: #4D5AE5;
}

/* #endregion */